<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KapShare</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
<body>
  <div class="container">
    <a href="/" class="brand-container">
      <img src="/img/icon.png" />
      <div class="brand__title">KapShare <br> <div class="brand__subtitle">Simplify File Sharing</div></div>
    </a>

    <% if (locals.files.length > 0) { %>
      <div class="browse-list">
        <% files.forEach(file => { %>
          <a href="/download/<%= file.title %> " class="browse-list__item"><%= file.title %> </a>
        <% }) %>
      </div>
    <% } else { %>
      No Files
    <% } %> 
   
  </div>
</body>
</html>